*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karma;
}
html {
  scroll-behavior: smooth;
}

h2{
  text-align: center;
  font-weight: 300;
}
/* NAVBAR */
nav{
  display:flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  align-content: center;
  color: #f4f4f4;
  background: #333;
  padding: 0.5rem 3rem;
  position: sticky;
  top: 0;
  z-index: 1;

}

nav h2{
  padding: 0.5rem;
}
nav ul{
  display:flex;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li{
  margin: 0 0.5rem;
}

nav ul li a{
  text-decoration: none;
  color: #f4f4f4;
  padding: 1rem 0.5rem;
}

nav ul li a:hover{
  background: red;

}
/* UTILITIES */
.container{
  max-width: 1100px;
  margin: 0 auto;
}

.paragraphs{
  padding: 1rem;
}

.contenedor{
  min-height: 100vh;
}
/* SECTION  */
section{
  display:flex;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-content: center;

}

.card{
  cursor: pointer;
  margin: 0.5rem;
  max-width: 200px;
  opacity: 0.85;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.3);
}

.card p{
  padding: 0.5rem ;
  font-size: 0.8rem;
  text-align: center;
}
.card:hover{
  opacity: 1;
}


.card img{
  width: 100%;
}

/* FOOTER */

.gridContainer{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  padding: 1rem 0;
  margin: 0 1rem;
  grid-column-gap: 0.5rem;
}
.gridContainer h2{
  text-align: left;
  margin: 1rem 0;
}
.m-bot{
  margin-bottom: 1rem;
}
.flexItem{
  display: flex;
  padding: 1rem;
}
.flexItem:hover{
  background: lightgray;
}
.footerImg{
  max-width: 50px;
  height: 50px;
  margin-right: 1rem;
}
/* ABOUT ME */
#about{
  text-align: center;
  padding-top: 70px;
  margin-top: -70px;
}
#about p{
  padding: 0.5rem;
  margin: 0 2rem;
}
.m-headings{
  padding: 0.5rem;
  margin: 1rem;
}
.margin-top{
  margin-top: 1rem;
}
#about img{
  width: 80%;
  height: auto;
}

/* MOBILE DEVICES */
@media(max-width:480px){
  section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  nav{
    position: relative;
    display: block;
    text-align: center;
    padding: 0rem;
  }

  nav ul{
    display: block;

  }
  nav ul li{
    display: block;
    border-bottom: 1px solid white;


  }

  nav ul li a{
    text-decoration: none;
    color: #f4f4f4;
    padding: 0.5rem;
    display: inline-block;
    width: 80vw;

  }
  
  nav ul li a:hover{
    background: none;
  
  }
}